div {
  border: 1px solid red;
  margin-bottom: 15px;
  padding-bottom: 15px;
  margin-right: 3px;
  padding-left: 10px;
  width: 100px;
  height: 150px;
  display: inline-block;
}

#block2 {
  display: inline-block;
}

span {
  border: 1px solid blue;
  margin-right: 3px;
  height: 100px;
  display: inline-block;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}
